body {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8a8fa3;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

img {
    max-width: 100%
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none
}

a:focus,
a:hover {
    text-decoration: none
}

i,
span,
a {
    display: inline-block
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: poppins, sans-serif;
    font-weight: 600;
    color: #32333c;
    margin: 0
}

h1 {
    font-size: 60px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 28px
}

h4 {
    font-size: 22px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin: 0
}


/*main-btn*/

.main-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #754ef9;
    padding: 0 40px;
    font-size: 15px;
    line-height: 48px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    -webkit-box-shadow: 0 5px 8px 0 rgba(118, 78, 249, .55);
    -moz-box-shadow: 0 5px 8px 0 rgba(118, 78, 249, .55);
    box-shadow: 0 5px 8px 0 rgba(118, 78, 249, .55);
    background-color: #754ef9;
    text-transform: uppercase
}

.main-btn:hover {
    background-color: #fff;
    color: #754ef9;
    border-color: #754ef9
}

.main-btn.main-btn-2 {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.main-btn.main-btn-2:hover {
    background-color: #754ef9;
    color: #fff;
    border-color: #754ef9
}


/*navigation*/

.navigation {
    -webkit-box-shadow: 0 0 29px 0 rgba(134, 134, 134, .25);
    -moz-box-shadow: 0 0 29px 0 rgba(134, 134, 134, .25);
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, .25);
    padding: 30px 0;
    background-color: #fff;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.navigation.sticky {
    padding: 20px 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.navigation .navbar {
    padding: 0;
    position: relative;
}

.navigation .navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 5px
}

.navigation .navbar .navbar-toggler {
    padding: 2px 6px
}

.navigation .navbar .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #32333c;
    margin: 5px 0;
    display: block;
    position: relative;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.navigation .navbar .navbar-nav .nav-item {
    margin-left: 30px;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .nav-item {
        margin: 4px 0;
    }
}

.navigation .navbar .navbar-nav .nav-item a {
    text-transform: uppercase;
    font-size: 15px;
    color: #8a8fa3;
    position: relative;
    font-weight: 550;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.navigation .navbar .navbar-nav .nav-item.active a,
.navigation .navbar .navbar-nav .nav-item a:hover {
    color: #754ef9;
}

.navigation .navbar .navbar-nav .nav-item a::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 0;
    background-color: #754ef9;
    left: 50%;
    top: -50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.navigation .navbar .navbar-nav .nav-item.active a::before,
.navigation .navbar .navbar-nav .nav-item a:hover::before {
    height: 45px;
}

.navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px
}

.navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0
}

.navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px
}


/*header-content*/

.header-content {
    height: 730px;
    width: 100%;
    margin-top: 90px;
    position: relative;
    overflow: hidden;
    background-color: #fbfbfb;
}

.header-content .header-shape {
    position: absolute!important;
}

.header-content .header-shape.shape-one {
    top: 0!important;
    left: 0!important;
}

.header-content .header-shape.shape-tow {
    top: -18px!important;
    left: 20%!important;
}

.header-content .header-shape.shape-three {
    top: 0!important;
    left: 40%!important;
}

.header-content .header-shape.shape-fore {
    top: 28px!important;
    right: 7.6%!important;
    left: auto!important;
}

.header-content .header-shape.shape-five {
    right: 30px!important;
    bottom: 35%!important;
    left: auto!important;
    top: auto!important;
}

.header-content .header-shape.shape-six {
    top: 44%!important;
    left: 13%!important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-content .header-shape.shape-seven {
    left: 30px!important;
    bottom: 50px!important;
    top: auto!important;
}

.header-content .header-shape.shape-eight {
    left: 90px!important;
    bottom: 140px!important;
    top: auto!important;
}

.header-content .header-shape.shape-nine {
    left: 50%!important;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 28px!important;
    top: auto!important;
}

.header-content .header-shape.shape-ten {
    right: 30px!important;
    bottom: 5px!important;
    left: auto!important;
    top: auto!important;
}


/*header-content-right*/

.header-content-right {
    position: relative;
}

.header-content-right .sub-title {
    font-size: 30px;
    color: #754ef9;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.header-content-right .title {
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.header-content-right p {
    padding-bottom: 40px;
}

@media (max-width: 767px) {
    .header-content-right .title {
        font-size: 38px;
    }
}


/*header-social*/

.header-social {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: 100%;
}

.header-social .header-social-icon {
    position: relative;
}

.header-social .header-social-icon::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #754ef9;
    left: -102.5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.header-social .header-social-icon::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #754ef9;
    left: 102.5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-social .header-social-icon ul li {
    display: inline-block;
    margin-left: 13px
}

.header-social .header-social-icon ul li:first-child {
    margin-left: 0
}

.header-social .header-social-icon ul li a {
    color: #ccc;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    text-align: center
}

.header-social .header-social-icon ul li a:hover {
    color: #fff;
    background-color: #754ef9;
    border-color: #754ef9
}


/* header-image */

.header-image {
    max-width: 430px;
    margin: 0 auto;
    position: relative;
}

.header-image img {
    position: relative;
    z-index: 5;
}

.header-image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 82%;
    border: 20px solid #754ef9;
    border-bottom: 0;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-image::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    background-color: #754ef9;
    left: 0;
    bottom: 58px;
    z-index: 11;
}


/* section #about */

.section-title .title {
    font-weight: 700;
    font-size: 45px;
    color: #000;
    padding-bottom: 20px;
    text-transform: capitalize;
}

.about-content .about-title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

.about-content ul {
    padding-top: 15px;
}

.about-content ul li {
    width: 50%;
    float: left;
    margin-top: 5px;
}

.about-content .single-info .info-icon i {
    font-size: 16px;
    color: #754ef9;
}

.lni-calendar:before {
    content: "\e988";
}

.about-content .single-info .info-text {
    padding-left: 13px;
}

.about-skills .skill-item .skill-header {
    position: relative;
}

.about-skills .skill-item .skill-header .skill-title {
    font-size: 16px;
    font-weight: 400;
}

.about-skills .skill-item .skill-header .skill-percentage {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    color: #32333c;
    font-weight: 400;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.about-skills .skill-item .skill-header .skill-percentage .count-box {
    font-size: 16px;
    color: #32333c;
}

.about-skills .skill-item .skill-bar {
    margin-top: 15px;
}

.about-skills .skill-item .skill-bar .bar-inner {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #d9d9d9;
    position: relative;
}

.about-skills .skill-item .skill-bar .bar-inner .progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    border-radius: 5px;
    background-color: #754ef9;
    -webkit-transition: all 2s ease-out 0s;
    -moz-transition: all 2s ease-out 0s;
    -ms-transition: all 2s ease-out 0s;
    -o-transition: all 2s ease-out 0s;
    transition: all 2s ease-out 0s;
    width: 0;
}


/* section service */

.single-service {
    background-color: #fff;
    border: 1px solid #eceff8;
    border-radius: 5px;
    padding: 25px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-service:hover {
    -webkit-box-shadow: 0 0 21px 0 rgba(152, 152, 152, .23);
    -moz-box-shadow: 0 0 21px 0 rgba(152, 152, 152, .23);
    box-shadow: 0 0 21px 0 rgba(152, 152, 152, .23)
}

.single-service i {
    font-size: 60px;
    color: #754ef9;
    line-height: 56px;
}

.single-service a {
    font-size: 22px;
    font-weight: 600;
    color: #32333c;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-service a:hover {
    color: #754ef9;
}


/* section call-to-action  */

.call-to-action {
    position: relative;
    z-index: 9;
}

@media (max-width: 767px) {
    .call-to-action {
        padding-top: 70px;
        padding-bottom: 80px;
    }
}

.call-to-action::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 78, 249, .7);
    z-index: -1;
}

.call-to-action p {
    color: white;
    padding-bottom: 30px;
}

.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.call-to-action .action-title {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 30px;
}

.call-to-action ul li {
    display: inline-block;
    margin: 10px 15px 0px;
}

.call-to-action ul li a.main-btn.custom {
    color: #754ef9;
    width: 180px;
    background: white;
}

.call-to-action ul li a.main-btn.custom:hover {
    background: #754ef9;
    color: white;
}

.call-to-action ul li a.main-btn.custom-2 {
    background: transparent;
    color: white;
    width: 180px;
    border-color: #fff;
}

.call-to-action ul li a.main-btn.custom-2:hover {
    background-color: rgba(255, 255, 255, .5);
}


/* start section work */

.single-work {
    position: relative
}

.single-work .work-image img {
    width: 100%
}

.single-work .work-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 78, 249, .8);
    opacity: 0;
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    -ms-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s;
}

.single-work .work-overlay .work-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.single-work .work-overlay .work-content .work-title {
    font-size: 22px;
    color: #fff;
    font-weight: 60;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    margin-bottom: 15px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.single-work .work-overlay .work-content ul li {
    display: inline-block;
    margin: 0 15px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-work .work-overlay .work-content ul li a {
    border: 1px solid white;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 25px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.single-work .work-overlay .work-content ul li a:hover {
    background-color: #fff;
    color: #754ef9
}

.single-work .work-overlay .work-content ul li:nth-of-type(1) {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
}

.single-work .work-overlay .work-content ul li:nth-of-type(2) {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%)
}

.single-work:hover .work-overlay {
    opacity: 1;
    -webkit-transition: all .15s ease-out 0s;
    -moz-transition: all .15s ease-out 0s;
    -ms-transition: all .15s ease-out 0s;
    -o-transition: all .15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}

.single-work:hover .work-overlay .work-content .work-title {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.single-work:hover .work-overlay .work-content ul li {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    /* rotate */
    transform: rotate(180deg);
    -moz-transition: rotate(180deg);
    -ms-transition: rotate(180deg);
    -webkit-transform: rotate(180deg);
    /*  */
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-work .work-overlay .work-content .work-title::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background-color: #fff;
    left: 50%;
    top: 35px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .work-area {
        padding-top: 90px;
        padding-bottom: 100px
    }
}

@media(max-width:767px) {
    .work-area {
        padding-top: 70px;
        padding-bottom: 80px
    }
}


/* end section work */


/* start section pricing */

.single-pricing .pricing-package {
    background-color: #754ef9;
    padding: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.single-pricing .pricing-package .package-title {
    color: white;
    font-size: 22px;
}

.single-pricing .pricing-body {
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.single-pricing .pricing-body .pricing-text {
    border-bottom: 1px solid #ddd;
    padding: 20px 25px;
}

.single-pricing .pricing-body .pricing-text .price {
    color: #754ef9;
    font-weight: 600;
    padding-top: 15px;
    font-size: 30px;
}

.single-pricing .pricing-body .pricing-list {
    padding-top: 30px;
}

.single-pricing .pricing-body .pricing-list ul li {
    font-size: 16px;
    color: #32333c;
    line-height: 36px;
}

.single-pricing .pricing-body .pricing-btn {
    padding: 25px 0 40px;
}

.single-pricing.active .pricing-body .pricing-btn .main-btn {
    background-color: #fbfbfb;
    color: #754ef9;
}

.single-pricing.active .pricing-body .pricing-btn .main-btn:hover {
    background-color: #754ef9;
    color: #fbfbfb;
}

.single-pricing.active {
    -webkit-box-shadow: 0 0 21px 0 rgba(152, 152, 152, .23);
    -moz-box-shadow: 0 0 21px 0 rgba(152, 152, 152, .23);
    box-shadow: 0 0 21px 0 rgba(152, 152, 152, .23);
}


/* end section pricing */


/* start section my blog */

.blog-area .single-blog {
    position: relative;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.blog-area .single-blog .blog-image {
    overflow: hidden;
    border-radius: 5px;
}

.blog-area .single-blog .blog-content {
    position: absolute;
    margin: 5px;
    bottom: 0;
    padding: 25px;
    background-color: #4ec8f993
}

.blog-area .single-blog .blog-content .blog-title a {
    color: white;
}

.blog-area .single-blog .blog-content span {
    color: white;
}

.blog-area .single-blog .blog-image img {
    width: 100%;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.blog-area .single-blog:hover .blog-image img {
    transform: scale(1.2);
}

.blog-area .single-blog:hover .blog-content {
    background-color: #764ef9b4;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.blog-area .single-blog:hover {
    transform: scale(1.05);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}


/* end section my blog */


/* start section Get In Touch */

.contact-area .contact-box {
    margin-top: 30px;
    padding: 30px;
    border: 1px solid #ccc;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    border-radius: 3px;
}

.contact-area .contact-box:hover {
    -webkit-box-shadow: 0 0 29px 0 rgba(134, 134, 134, .25);
    -moz-box-shadow: 0 0 29px 0 rgba(134, 134, 134, .25);
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, .25);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.contact-area .contact-box .box-icon {
    color: #754ef9;
    font-size: 50px;
}

.contact-area .contact-box .box-content .content-title {
    margin-bottom: 20px;
    font-size: 18px;
}

.contact-area #contact-form .form-input input,
.contact-area #contact-form .form-input textarea {
    width: 100%;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 55px;
    color: #8a8fa3;
}

.contact-area #contact-form .form-input textarea {
    height: 135px;
    padding-top: 10px;
    resize: none;
}

.contact-area #contact-form .form-input input:focus,
.contact-area #contact-form .form-input textarea:focus,
.contact-area #contact-form .form-input input:hover,
.contact-area #contact-form .form-input textarea:hover {
    border: 1px solid #754ef9;
}

.contact-area .contact-map {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fbfbfb;
    -webkit-box-shadow: 0 0 12px 0 rgba(152, 152, 152, .46);
    -moz-box-shadow: 0 0 12px 0 rgba(152, 152, 152, .46);
    box-shadow: 0 0 12px 0 rgba(152, 152, 152, .46);
}


/* end section Get In Touch */


/* footer */

.footer-content {
    background-color: #152136;
}

.footer-content .content-about p {
    color: #fefefe;
}

.footer-content .content-about ul li {
    display: inline-block;
    margin: 0 15px;
}

.footer-content .content-about ul li a {
    background-color: #1c2940;
    border: 1px solid #1c2940;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    line-height: 80px;
    color: #bebebe;
    font-size: 30px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.footer-content .content-about ul li a:hover {
    background-color: #754ef9;
    color: #fefefe;
    border-radius: 40%;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

@media (max-width: 767px) {
    .footer-content .content-about ul li a {
        width: 52px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .footer-content .content-about ul li {
        margin: 0 7px;
    }
}

.footer-content .footer-content-2 {
    line-height: 65px;
    text-align: center;
    background-color: #1c2940;
    color: #fefefe;
}


/* back-to-top */

.back-to-top {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    line-height: 46px;
    border-radius: 50%;
    border: 2px solid #586376;
    background-color: #152136;
    text-align: center;
    z-index: 99;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    display: none;
}